/* Reset e configuração geral */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo geral do Header */
header{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

header h2{
    color: #692B39;
    font-size: 50px;
}

header nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding-top: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #692B39;
    font-size: 25px;
}

.fundo {
    width: 100%;
    height: 100%;
}

/* Estilo da section sobre */
#sobre{
    background-color: #EDE2D7;
    display: flex;
    flex-wrap: wrap;
}

#sobre div{
    flex: 1;
}

.titulo{
    padding: 50px 50px;
}

.paragrafo{
    margin: 100px;
}

#sobre h1{
    color: #692B39;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.titulo img{
    width: 350px;
    margin-left: 80px;
    border-radius: 5px;
}

.paragrafo p{
    color: #692B39;
    font-size: 30px;
    text-align: left;
}

/* Estilo da section dona */
#dona {
    background-color: #C48B7A;
    display: flex;
    gap: 20px;
}

#dona h2 {
    color: #fff;
    width: 100%;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.paragrafo-dona {
    color: #fff;
    font-size: 25px;
    text-align: left;
    margin: 100px;
}

.paragrafo-dona p {
    margin-top: 25px;
    margin-bottom: 20px;
}

/* Estilo da section produtos - tricotin */
.tricotin{
    background-color: #EDE2D7;
    color: #692b39;
}

.tricotin h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

.tricotin p{
    font-size: 25px;
    text-align: justify;
    padding: 30px 20px;
}

/* Estilo da sessão produtos - guirlanda */
.guirlanda{
    display: flex;
    flex-wrap: wrap;
}

.guirlanda h2{
    width: 100%;
}

.guirlanda-paragrafo p{
    font-size: 28px;
}


/* Estilo da sessão produtos - luminarias */
.luminarias{
    background-color: #C48B7A;
    color: #fff;
}

.luminarias h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

.luminarias p{
    font-size: 25px;
    text-align: justify;
    padding: 30px 20px;
}

/* Estilo da sessão produtos - MDF */
.MDF{
    background-color: #EDE2D7;
    color: #692B39;
}

.MDF h2{
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.MDF p{
    font-size: 20px;
    padding: 20px;
}

.prod{
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto{
    background-color: #fff;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px #79152c;
}

.produto img{
    width: 200px;
    border-radius: 5px;
}

.produto p{
    font-size: 17px;
    padding-top: 20px;
    color: #692B39;
    text-align: center;
}

.produto button{
    background-color: #692B39;
    color: #EDE2D7;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #fff;
    border-radius: 8px;
    position: relative;
    left: 40px;
}

.produto button:hover {
    background-color: #79152c;
    color: #EDE2D7;
    box-shadow: 0 0 20px #692B39;
}


/* Estilo da section Toy Story*/
.toy-story{
    background-color: #C48B7A;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 20rem;
}

.toy-story h2 {
    width: 100%;
    font-size: 50px;
    margin: 60px auto;
    text-align: center;
}

.ty-paragrafo {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
}

.ty-paragrafo p {
    margin-bottom: 20px;
}

/* Estilo do Footer */
footer{
    background-color: #EDE2D7;
    color: #692B39;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}

footer p{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.info{
    margin-right: 50px;
}

.social ul {
    display: flex;
    justify-content: center;
}

.social ul li{
    list-style-type: none;
}

.social ul li a ion-icon{
    color: #692B39;
    font-size: 40px;
    margin-right: 20px;
}

.footer{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    border-top: 1px solid white;
    padding-top: 30px;
}