/* Reset e configuração geral */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo geral do Header */
header{
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

header h2{
    color: #F595AA;
    font-size: 50px;
}

header nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding-top: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #F595AA;
}

/* Estilo da section sobre */
main #sobre{
    background-color: #C48B7A;
    display: flex;
    flex-wrap: wrap;
}

main #sobre div{
    flex: 1;
}

main #sobre .titulo{
    padding: 50px 50px;
}

main #sobre .paragrafo{
    margin: 100px;
}

main #sobre h1{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

main #sobre .titulo img{
    width: 350px;
    margin-left: 80px;
    border-radius: 5px;
}

main #sobre .paragrafo p{
    color: white;
    font-size: 30px;
    text-align: left;
}

/* Estilo da section produtos - tricotin */
.tricotin{
    background-color: #EDE2D7;
    color: #692b39;
}

main #produtos .tricotin h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

main #produtos .tricotin p{
    font-size: 25px;
    text-align: justify;
    padding: 30px 20px;
}

main #produtos .tricotin .prod{
    display: flex;
    justify-content: center;
    align-items: center;
}

main #produtos .tricotin .prod .produto{
    background-color: #fff;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    border-radius: 5px;
}

main #produtos .tricotin .prod .produto img{
    position: relative;
    left: 10px;
}

main #produtos .tricotin .prod .produto button{
    background-color: #692B39;
    color: #EDE2D7;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #fff;
    border-radius: 8px;
    position: relative;
    left: 50px;
}

main #produtos img{
    width: 200px;
    border-radius: 5px;
}

/* Estilo da sessão produtos - guirlanda */
main #produtos .guirlanda{
    display: flex;
    flex-wrap: wrap;
}

main #produtos .guirlanda h2{
    width: 100%;
}

main #produtos .guirlanda .guirlanda-paragrafo p{
    font-size: 29px;
}

main #produtos .guirlanda .produto{
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

main #produtos .guirlanda .produto img{
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

main #produtos .guirlanda .produto p{
    font-size: 25px;
}

main #produtos .guirlanda .produto button{
    background-color: #692B39;
    color: #EDE2D7;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: 5px solid #fff;
    border-radius: 8px;
    position: relative;
    left: 65px;
}

/* Estilo da sessão produtos - luminarias */
main #produtos .luminarias{
    background-color: #C48B7A;
    color: #fff;
}

main #produtos .luminarias h2{
    width: 100%;
    text-align: center;
    font-size: 50px;
    padding-top: 40px;
}

main #produtos .luminarias p{
    font-size: 25px;
    text-align: justify;
    padding: 30px 20px;
}

main #produtos .luminarias .prod{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo da sessão produtos - MDF */
main #produtos .MDF{
    background-color: #EDE2D7;
    color: #692B39;
}

/* Estilo da section entrega*/
#entrega{
    background-color: #C48B7A;
    color: #fff;
}

/* Estilo do Footer */
footer{
    background-color: #EDE2D7;
    color: #692B39;
}